{% extends 'base.html.twig' %}

{% block title %}Welcome to our game!{% endblock %}

{% block body %}
    <h1>Hello and welcome to PokeBattle !</h1>
    <a href="{{ path('app_pokemon_index') }}">Play</a>
{% endblock %}
