{% extends 'layout/default/index.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block main %}
    <h1>POKEMON BATTLE !!!</h1>

        <a href="{{ path('app_pokemon_index') }}">Play</a>
{% endblock %}
