{% extends 'base.html.twig' %}

{% block body %}
    {% if pokemonInfo %}
        {{ dump(pokemonInfo) }}
{#        <p>{{ pokemonInfo.name|capitalize }}</p>#}
{#        {% for ability in pokemonInfo.abilities %}#}
{#            <p>{{ ability }}</p>#}
{#        {% endfor %}#}
    {% else %}
        <p>no data</p>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

