{% extends 'layout/default/index.html.twig' %}

{% block title %}Hello player!{% endblock %}

{% block body %}

    <div>
        <h1>Hello </h1>

        <a href="{{ path('app_pokemon_reset') }}">Get a new Pokedex</a>

        <div class="card-grid">
            {% for pokemon in allPokemon %}
                <div class="card">
                    <h2>{{ pokemon.name }}</h2>
                    <img src="{{ pokemon.image }}" alt="{{ pokemon.name }} image">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
