{% extends 'base.html.twig' %}

{% block title %}Poke-battle{% endblock %}

{% block body %}
    {% include "layout/default/navigation.html.twig" %}
    <main>
        {% block main %}
        
        {% endblock %}
    </main>
{% endblock %}
