<nav>
    <a href="{{ path('app_default')}}">Acceuil</a>

    {% if app.user %}
    <span>{{ app.user.email }}</span>
        <a href="{{ path('app_logout') }}">{% trans from 'menu' %}Déconnexion{% endtrans %}</a>
    {% else %}
        <a href="{{ path('app_login') }}">{% trans from 'menu' %}Connexion{% endtrans %}</a>
    {% endif %}
</nav>